@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #E0DAD0;
    text-decoration: none;
    padding: 55px;
    font-weight: bold;
}
header {
    background-color:#4A4036;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: #946652;
    color: white;
}
header img {
    width: 70px;
    padding: 10px;
    justify-self: center;
    align-self: center;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: #4A4036;
}
h1 {
    color: #4A4036;
    font-family: "Libre Baskerville", georgia, serif;
}
#hero {
    position: relative;
    max-width: 1600px;
    margin: 0 auto;
}
#hero img {
    vertical-align: middle;
    width: 100%;
}
#hero #hero-msg{
    position: absolute;
    bottom: 45px;
    background: rgb(224, 218, 208); /* Fallback color */
    background: rgba(224,218,208, .8);
    color: #4A4036;
    width: 100%;
  }
#hero-msg h4 {
    margin-top: -20px;
    font-style: italic;
}
main section {
    text-align: center;
    margin: 20px;
}
body {
    background-color: #F5F3EF;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
}
.home-title {
    color: #4A4036;
    font-family: "Libre Baskerville", georgia, serif;
    font-size: 2em;
    margin-top: 10px;
}
.learn, .who_benefits .find {
    background-color: #946652; 
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.learn:hover, .find:hover {
    background-color: #636E72;
    color: white;
}
.learn {
    margin-right: 40px;
    }
.who_benefits .find {
    margin-left: 40px;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.whats_et_img {
    grid-column: 1/7;
    grid-row: 2/5;
    place-self: center;
}
.home-grid img {
    min-width: 200px;
    max-width: 540px;
    width: 90%;
}
.whats_et {
    grid-column: 7/11;
    grid-row: 2/5;
}
.whats_et p, .whats_et h3 {
    margin-right: 50px;
}
.discover {
    grid-column: 1/11;
    grid-row: 6/7;
}
 .home-grid h2 {
    background-color: #636E72;
    text-align: center;
    color: white;
    font-style: italic;
    padding: 15px 0;
    margin: -15px;
}
.who_benefits {
    grid-column: 1/5;
    grid-row: 8/11;

}
.who_benefits_img {
    grid-column: 5/11;
    grid-row: 8/11;
    place-self: center;
    width: 90%;
}
.gifts h3 {
    color: #4A4036;
    font-family: "Libre Baskerville", Georgia, Serif;
}
.home-grid p {
    line-height: 1.4em;
    padding-bottom: 30px;
}
.who_benefits h3 {
    margin-left: 40px;
}
.who_benefits p {
    text-align: left;
    margin-left: 40px;
}
.who_benefits ul {
    text-align: left;
    line-height: 1.4em;
    padding-left: 5em;
    margin-top: -40px;
}
.whats_et_img, .whats_et, .who_benefits, .who_benefits_img {
    margin: 125px 0;
}
footer {
    background-color: #4A4036;
    color: white;
    padding: 25px 20px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}
footer img {
    width: 80px;
    justify-self: center;
    align-self: center;
}
footer a {
    color:white;
    text-decoration: none;
}
footer a:hover {
    background-color: #946652;
    color: white;
    padding: 5px;
}
footer p a:hover {
    text-decoration: underline;
}
/* Why Use Horses page */
.use_horses h1 {
    margin-top: 40px;
}
.use_horses p {
    padding: 0 40px;
    line-height: 1.4em;
}
.small_screen_msg {
    display: none;
}
.find_therapist h2, .gifts h2 {
    text-align: center;
    color: #946652;
}
.gifts p, .gifts ul {
    text-align: justify;
    margin: 20px 40px;
    line-height: 1.4em;
}
.gifts ul {
    padding-left: 4em;
}
.tabcontent {
    display: none;
}
.tab {
    text-align: center;
}
.tab img {
    opacity: 0.7; 
    cursor: pointer; 
    width: 30%;
    margin: 0 5px;
}
.tab img:hover {
    opacity: 1;
}
.tab img.active {
    border: 5px solid #636E72;
    opacity: 1;
}
.gifts, .find_therapist {
    margin: 100px 0;
}
.find_therapist h2 {
    padding-top: 50px;
}
.find_therapist .find {
    background-color: #946652; 
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 5px;
}
.find_therapist p {
    padding-bottom: 40px;
}
.attune_img, .externalize_img, .teach_img {
    display: none;
}
/* Finding Therapist Page */
.find_therapist_h1 {
    margin-top: 40px;
    text-align: center;
}
.therapist_grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: 0 40px 0px 40px;
    max-width: 1600px;
}
.therapist_grid img {
    min-width: 250px;
    max-width: 540px;
    width: 95%;
    margin-right: 40px;
}
.therapist_content {
    grid-column: 1/7;
    grid-row: 1/2;
    place-self: center;
}
.therapist_img {
    grid-column: 7/11;
    grid-row: 1/2;
    place-self: center;
}
.therapist_content p, .therapist_content ul {
    text-align: left;
    line-height: 1.5em;
}

.therapist_note {
    margin: 50px auto;
    padding: 20px 100px;
    text-align: center;
    line-height: 1.5em;
    font-size: .9em;
}


@media screen and (max-width: 900px) {
    .home-grid {
        display: block;
        height: auto;
    }
    #hero #hero-msg{
        position: static;
        bottom: 45px;
        background: none;
        color: #4A4036;
        width: 100%;
      }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg h1 {
        color: #4A4036;
        padding-bottom: 10px;
        padding-top: 20px;
        margin-top: 50px;
    }
    #hero-msg h4 {
        color: #946652;
        padding: 0 20px;
        margin-bottom: -10px;
    }
    .home-title {
        font-size: 26px;
    }
    .whats_et h3 {
        margin-top: -75px;
    }
    footer {
        margin-top: 25px;
    }
    .whats_et_img {
        text-align: center;
    }
    .whats_et {
        margin: 50px 0 150px 40px;
    }
    .who_benefits_img {
        margin: 150px 40px 0 50px;
    }
    .who_benefits {
        margin: 50px 40px 150px 0;
    }
    .who_benefits p {
        text-align: center;
        padding-bottom: 40px;
    }
    /* Why Use Horses page - media*/
    .tabcontent {
        display: block;
    }
    .tablinks {
        display: none;
    }
    .attune_img, .externalize_img, .teach_img {
        display: block;
        width: 60%;
        margin: 0 auto;
    }
    .gifts h3 {
        margin-top: 50px;
    }
    .small_screen_msg {
        display: inline;
    }
    .reg_screen_msg {
        display: none;
    }
    .find_therapist {
        margin: 0 40px;
    }
    /* Finding Therapist Page */
    .therapist_grid {
        display: block;
    }
    .therapist_note {
        margin: 60px auto;
        font-size: 1em;
    }
}
            