@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Montserrat&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a {
    text-align: center;
    color: #E0DAD0;
    text-decoration: none;
    padding: 55px;
    font-weight: bold;
}
header {
    background-color:#4A4036;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: #946652;
    color: white;
}
header img {
    width: 70px;
    padding: 10px;
    justify-self: center;
    align-self: center;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: #4A4036;
}
#hero-img {
    width: 100%;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -125px;
}
#hero-box {
   grid-column: 1/4;
   grid-row: 1/6;
   z-index: -1;
}
#banner {
    grid-column: 1/4;
    grid-row: 5/6;
    margin-bottom: 50px;
    background-color:rgba(224,218,208, .8);
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 5/6;
    padding-bottom: 40px;
}
#hero-msg h4 {
    margin-top: -20px;
    font-style: italic;
}
main section {
    text-align: center;
    margin: 20px;
}
body {
    background-color: #F5F3EF;
    font-family: Montserrat, Helvetica, sans-serif;
    font-size: 20px;
    margin: 0;
}
.home-title {
    color: #4A4036;
    font-family: Merriweather, georgia, serif;
    font-size: 2em;
    margin-top: 10px;
}
.learn, .find {
    background-color: #946652; 
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.learn:hover, .find:hover {
    background-color: #636E72;
    color: white;
}
.learn {
    margin-right: 40px;
    }
.find {
    margin-left: 40px;
}
.home-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.whats_et_img {
    grid-column: 1/7;
    grid-row: 2/5;
    place-self: center;
}
.home-grid img {
    min-width: 200px;
    max-width: 540px;
    width: 90%;
}
.whats_et {
    grid-column: 7/11;
    grid-row: 2/5;
}
.whats_et p, .whats_et h3 {
    margin-right: 50px;
}
.discover {
    grid-column: 1/11;
    grid-row: 6/7;
 }
 .home-grid h2 {
    background-color: #636E72;
    text-align: center;
    color: white;
    font-style: italic;
    padding: 15px 0;
    margin: -15px;
}
.who_benefits {
    grid-column: 1/5;
    grid-row: 8/11;

}
.who_benefits_img {
    grid-column: 5/11;
    grid-row: 8/11;
    place-self: center;
    width: 90%;
}
.home-grid h3 {
    color: #4A4036;
    font-family: "Libre Baskerville", Georgia, Serif;
}
.home-grid p {
    line-height: 1.4em;
    padding-bottom: 30px;
}
.who_benefits h3 {
    margin-left: 40px;
}
.who_benefits p {
    text-align: left;
    margin-left: 40px;
}
.who_benefits ul {
    text-align: left;
    padding-left: 5em;
    margin-top: -40px;
}
.whats_et_img, .whats_et, .who_benefits, .who_benefits_img {
    margin: 125px 0;
}
footer {
    background-color: #4A4036;
    color: white;
    padding: 25px 20px;
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}
footer img {
    width: 80px;
    justify-self: center;
    align-self: center;
}
footer a {
    color:white;
    text-decoration: none;
}
footer a:hover {
    background-color: #946652;
    color: white;
    padding: 5px;
}
footer p a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h1 {
        color: #4A4036;
        padding-bottom: 10px;
        padding-top: 20px;
    }
    #hero-msg h4 {
        color: #946652;
    }
    .home-title {
        font-size: 26px;
    }
    footer {
        margin-top: 25px;
    }
.whats_et_img {
    margin: 40px 40px 0 50px;
}
.whats_et {
    margin: 50px 0 150px 40px;
}
.who_benefits_img {
    margin: 150px 40px 0 50px;
}
.who_benefits {
    margin: 50px 40px 150px 0;
}
.who_benefits p {
    text-align: center;
    padding-bottom: 40px;
}
}
            