.grid-container {
    display: grid;
    grid-template-columns: 200px 200px 200px;
    background-color: #8cc1ec;
    padding: 10px;
}
.grid-item {
    background-color: #dcebf8;
    border: 1px solid black;
    padding: 20px;
    margin: 0;
    font-size: 30px;
    text-align: center;
}